*{
    padding: 0;
    margin: 0;
}

/*header*/
header{
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px 50px 70px 50px;
    font-size: 18px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.navigation span{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.navigation ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 17px;
}

.header-content{
    display: flex;
    justify-content: space-between;
}

.header-content .left{
    width: 360px;
}
.header-content .left .big{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.header-content .right img{
    width: 400px;
}
.header-content .left button{
    background-color: #3882F6;
    border-radius: 5px;
    border-style: initial;
    color: #F9FAF8;
    padding: 5px 25px;
    font-weight: bold;
    margin-top: 10px;
}

/*boxes section*/
.pictures-section .heading{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    margin: 30px 0px;
}

.pictures-section .picture-boxes{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.picture-boxes div{
    width: 140px;
}

.picture-boxes div img{
    width: 100%;
    border: #3882F6 solid;
    border-radius: 10px;
}

/*quote section*/
.quote-section{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    display: flex;
    flex-direction: column;
    padding: 100px 170px;
}

.quote-section .thor{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}